<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Mon Site !</title>
	<link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}"/>
</head>
<body>
{% with menu = ['Bibli', 'Musique', 'Cv', 'Contact'] %}
{# commentaire #}
<nav>
	<ul>
		<li id="nom">Ethan CHAMIK</li>
        {% for menu in menu %}
		<li><a href="{{ menu }}.html">{{ menu }}</a></li>
        {% endfor %}
	</ul>
</nav>
{% endwith %}
<div id="corps">
<h1>Me contacter :</h1>

<p>Mon numéro : 06 13 56 29 94</p>
<p>Mon Email : ethancmk@hotmail.fr</p>
<p>Mon facebook : Ethan Chamik</p>

<form>
    <label for ="nom" > Votre nom :</label><input type ="text" name ="nom" /><br />
    <input type="radio" name="choix" value="choix 1" /><label for = "choix 1"> premier choix</label><br />
    <input type="submit" />
</form>
{% with age = 25 %}
{% if age < 18 %}
    Halte là ! Accès non autorisé aux mineurs.
{% elif age < 90 %}
    Accès autorisé. Enjoy !
{% else %}
    Allez-y doucement.
{% endif %}
{% endwith %}
</div>

</body>
</html>