{% extends 'squel.index.html' %}
{% block titre %}Contact{% endblock %}

{% block corps %}
<form method="POST" enctype="multipart/form-data">
    <label for ="nom" >Task : </label><input type ="text" name ="nom" /><br />
    <label for ="date" >date : </label><input type ="text" name ="date" />
    <input type="submit" name="submit" value="add"/>
</form>
{% endblock %}


{% block recup %}
<form method="POST" enctype="multipart/form-data">
    {% for m in list_task %}
        <p>
            <input type="submit" value="X" name="submit"/>
            <label for="del">{{ m['date'] }} -> {{ m['name'] }} -> {{ m['id'] }}</label><input type="hidden" name="del" value="{{ m['id'] }}"/>
        </p>
    {% endfor %}
</form>
{% endblock %}