{% extends squel.index.html %}
{% block titre %}Images{% endblock %}
{% block corps %}
{% endblock %}




















<!DOCTYPE html>
<html>
  <head>
    <title>Todo List - Featuring Flask and RethinkDB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
    	.container{
    		padding-top: 50px;
    		max-width: 500px;
    	}
    </style>
  </head>
  <body>
  	<div class="container">
    	{% block content %}{% endblock %}
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>







{% extends "base.html" %}
{% block content %}

<h1>Todo List</h1>
<p class="lead">With Flask and RethinkDB</p>

<form action="" role="form" method="POST" name="add_task">
	{{form.hidden_tag()}}
	<p>
		<h4>Enter a task</h4>
		{{form.label}}
		<input type="submit" value="Send" class="btn btn-default btn-md">
		{% for error in form.errors.label %}
		<span style="color: red;">{{ error }}</span>
		{% endfor %}
	</p>
</form>

{% for task in tasks %}
  <li>{{ task.name }}</li>
{% endfor %}

{% endblock %}
