<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Mon Site !</title>
	<link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}"/>

</head>
<body>
<nav>
	<ul>
		<li id="nom">Ethan CHAMIK</li>
		<li><a href="index.html">à propos de moi</a></li>
		<li><a href="#">Musique</a></li>
        <li><a href="CV.html">CV</a></li>
        <li><a href="contact.html">Contact</a></li>
	</ul>
</nav>
<div id="corps">
<h1>nous sommes le : {{ date }}</h1>

<p>{{mots}}</p>
</div>

</body>
</html>